### Cleaning database data

*import libraries*

In [1]:
import os
import sys
import sqlite3 as sl

import pandas as pd
import numpy as np
from datetime import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as mticker
%matplotlib inline

import math
import statistics
import scipy.stats

from functools import reduce
import dataframe_image as dfi
from string import ascii_lowercase
import itertools

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
pd.options.display.max_rows = 500

In [4]:
os.getcwd()

'C:\\Users\\USER\\Documents\\Articares\\CHISEL'

In [5]:
start_codes=datetime.now()

**connect/query from database**

In [6]:
# con = sl.connect('D:/Articares/CARE_platform/OneDrive_1_4-11-2022/articaresLite_v2_CHISEL_HOME_P001.db')

In [7]:
# # query only from P001
# df = pd.read_sql("SELECT PatientID, SessionID, GameID, TimeStampDate, TimeStampMS, VisualTargetXCoord, VisualTargetYCoord, TargetXCoord, TargetYCoord, XCoordinate, YCoordinate, KxGain, KyGain, KxyGain, TotalForce, VelocityX, VelocityY, CurrentSenseLeft, CurrentSenseRight, Sparc FROM TargetFeedbackDataModel WHERE PatientID='TTSH-CHISEL0Pa/Gtc3DUqoPVREp+I/qg==' ",con)

In [8]:
# df.head()

*save queried results*

In [9]:
# df.to_csv('./data/sql_result_P001.dat')

**import df from previously saved query**

In [10]:
## read .dat file if df is saved
df = pd.read_csv('./data/sql_result_onlyP003.txt')
df_targets = pd.read_csv('./data/P003_targets.csv')

In [11]:
df.head()

,PatientID,SessionID,GameID,TimeStampDate,TimeStampMS,Sparc,VisualTargetXCoord,VisualTargetYCoord,TargetXCoord,TargetYCoord,...,KxyGain,BxGain,ByGain,BxyGain,ByxGain,VelocityX,VelocityY,CurrentSenseLeft,CurrentSenseRight,TotalForce
0,TTSH-CHISELamITRYYb9UymNH+3xzylgg==,TTSH-CHISELmr5QROxbVkGeF7YuEwLJrQ==,0,2022-03-07 16:35:44,3676273,0.0,171.0,22.0,130.0,166.0,...,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.050266,-0.0256,-0.0208,0.0
1,TTSH-CHISELamITRYYb9UymNH+3xzylgg==,TTSH-CHISELmr5QROxbVkGeF7YuEwLJrQ==,0,2022-03-07 16:35:44,3676278,0.0,171.0,22.0,130.0,166.0,...,0.0,0.0,0.0,0.0,0.0,1.256180e-03,0.051522,-0.0256,-0.0208,0.0
2,TTSH-CHISELamITRYYb9UymNH+3xzylgg==,TTSH-CHISELmr5QROxbVkGeF7YuEwLJrQ==,0,2022-03-07 16:35:44,3676288,0.0,171.0,22.0,130.0,166.0,...,0.0,0.0,0.0,0.0,0.0,-1.257324e-03,0.056548,-0.0256,-0.0208,0.0
3,TTSH-CHISELamITRYYb9UymNH+3xzylgg==,TTSH-CHISELmr5QROxbVkGeF7YuEwLJrQ==,0,2022-03-07 16:35:44,3676298,0.0,171.0,22.0,130.0,166.0,...,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.060319,-0.0256,-0.0208,0.0
4,TTSH-CHISELamITRYYb9UymNH+3xzylgg==,TTSH-CHISELmr5QROxbVkGeF7YuEwLJrQ==,0,2022-03-07 16:35:44,3676308,0.0,171.0,22.0,130.0,166.0,...,0.0,0.0,0.0,0.0,0.0,7.629395e-07,0.065345,-0.0256,-0.0208,0.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5923647 entries, 0 to 5923646
Data columns (total 24 columns):
 #   Column              Dtype
---  ------              -----
 0   PatientID           object
 1   SessionID           object
 2   GameID              int64
 3   TimeStampDate       object
 4   TimeStampMS         int64
 5   Sparc               float64
 6   VisualTargetXCoord  float64
 7   VisualTargetYCoord  float64
 8   TargetXCoord        float64
 9   TargetYCoord        float64
 10  XCoordinate         float64
 11  YCoordinate         float64
 12  KxGain              float64
 13  KyGain              float64
 14  KxyGain             float64
 15  BxGain              float64
 16  ByGain              float64
 17  BxyGain             float64
 18  ByxGain             float64
 19  VelocityX           float64
 20  VelocityY           float64
 21  CurrentSenseLeft    float64
 22  CurrentSenseRight   float64
 23  TotalForce          float64
dtypes: float64(19), int64(2), object(3)
memory usage: 1.1+ GB

**patient dictionary**

In [13]:
user_id_dict = {
    'TTSH-CHISELRGgLPwL3Lk6JTgBaVP4bjg==':'Test_01',
    'TTSH-CHISEL2gpumVcbJE267TKKceWbOA==':'NULL', 
    'TTSH-CHISEL0Pa/Gtc3DUqoPVREp+I/qg==':'001', 
    'TTSH-CHISEL9GsWU5zb50CfPyoLNy7qvg==':'002',
    'TTSH-CHISELamITRYYb9UymNH+3xzylgg==':'003', 
    'TTSH-CHISEL6IRO4pIMDUCpIRFbGnO26w==':'004',
    'TTSH-CHISELZSJj4EGZh0iiozqhx3Gf4g==':'005',
    'TTSH-CHISELCn5PqGNyMkKoyFYaOryw5g==':'006'
};

*replace PatientID from user_id_dict*

In [14]:
# df['PatientID'].unique()

for eg, if 'onlyP001' ie., only one patient is queried, then there should only be one unique value.

In [15]:
# replace PatientID with username
df.replace({'PatientID':user_id_dict},inplace=True)

In [16]:
# check PatientID replace
# df['PatientID'].unique()

**convert datetime**

In [17]:
df['date_time'] = pd.to_datetime(df['TimeStampDate'], format='%Y-%m-%d %H:%M:%S')

**check df for duplicates**

In [19]:
# df['TimeStampMS'].duplicated().value_counts()[True]

some 'SessionID' are missing, nothing we can do about it, though possible to impute from neighbouring rows.

In [23]:
# remove SessionID when null
df = df[df['SessionID'].notna()]

**format VisualTargetCoord and TargetCoord**

In [24]:
df['VisualTargetXCoord'] = df['VisualTargetXCoord']/1000
df['VisualTargetYCoord'] = df['VisualTargetYCoord']/1000
df['TargetXCoord'] = df['TargetXCoord']/1000
df['TargetYCoord'] = df['TargetYCoord']/1000

*GameID*

In [25]:
game_id_dict = {
    0 : 'Explore the World',
    1 : 'Fishing Game',
    2 : 'Drone Game'
}

In [26]:
# check types of games played
df['GameID'].unique()

array([0, 1, 2], dtype=int64)

### Segregating dataset by session and game

In [27]:
# make copy of original df
df1 = df.reset_index()

In [29]:
# recalculate diff in timestamp, as freq of data capture is inconsistent
df1['TimeStampMS_diff'] = df1[['TimeStampMS']].diff()

In [30]:
list_sessions = df1[df1['SessionID'].notna()]['SessionID'].unique()

**checking for new starts within each session**
<br> correcting for indirect labelling of sessionID

In [31]:
# create new session names
new_session_name = []
def iter_all_strings():
    for size in itertools.count(1):
        for s in itertools.product(ascii_lowercase, repeat=size):
            yield ''.join(s)

# max 300 new session names based on alphabet-combinations
for s in itertools.islice(iter_all_strings(), 300):
    new_session_name.append(s)

*splitting sessionID based on 'TimeStampMS_diff'<0*

In [32]:
# check for negative timestamp
new = 0
for session in list_sessions:
    session_temp = df1[df1['SessionID']==session].reset_index().drop(columns=['level_0'])
    
    # drop all last index, to make life easier
    last_index=session_temp['index'].iloc[-1]
    session_temp.drop(session_temp[(session_temp['index'] == last_index)].index,axis=0,inplace=True)
    df1.drop(df1[(df1['index'] == last_index)].index,axis=0,inplace=True)
    
    for game in range(0,3):
        if game in session_temp['GameID'].unique():
            temp3 = session_temp[session_temp['GameID']==game]
            temp3['TimeStampMS_diff'] = temp3[['TimeStampMS']].diff()

            # should not include last index already removed
            idx = temp3[temp3['TimeStampMS_diff']<0]['index'].values

            if len(idx) >= 1:
                first_index=temp3['index'].iloc[0]
                # new last_index iloc[-2]
                last_index=temp3['index'].iloc[-1]

                if len(idx)==1:
                    # check first index
                    if idx[0] == first_index:
                        pass
                    # double check last index
                    # nothing should happen here
                    elif idx[-1] == last_index:
                        # drop last value of sessionid
                        df1.drop(df1[(df1['index'] == last_index)].index,axis=0,inplace=True)
        #                 idx = idx[:-1]
                    # index is middle
                    else: #(idx[0]!=first_index) or (idx[0]!=last_index):
                        df1.loc[(df1['index'] >= idx[0]) & (df1['index'] <= last_index), 'SessionID'] = new_session_name[new]
                        print(1,session,game,new_session_name[new])
                        new += 1

                else:                
                    for nr in range(len(idx)-1):
                        df1.loc[(df1['index'] >= idx[nr]) & (df1['index'] <= idx[nr+1]), 'SessionID'] = new_session_name[new]
                        print(2,session,game,new_session_name[new])
                        new += 1

2 TTSH-CHISELnakxyOdKt0evGYsc/lsoKA== 0 a
1 TTSH-CHISELCi7P/FD6Bkevuxtj9hChdw== 0 b
1 TTSH-CHISELCi7P/FD6Bkevuxtj9hChdw== 1 c
1 TTSH-CHISELCi7P/FD6Bkevuxtj9hChdw== 2 d
1 TTSH-CHISEL6VyFaP+VakaD5ivX4JqYZg== 0 e
1 TTSH-CHISEL6VyFaP+VakaD5ivX4JqYZg== 1 f
1 TTSH-CHISEL6VyFaP+VakaD5ivX4JqYZg== 2 g

*splitting sessionID once more for 'TimeStampMS_diff' > 120s*

In [33]:
# updated list_sessions
list_sessions = df1[df1['SessionID'].notna()]['SessionID'].unique()

In [34]:
# double check
# check for negative timestamp
for session in list_sessions:
    session_temp = df1[df1['SessionID']==session].reset_index().drop(columns=['level_0'])
    
    for game in range(0,3):
        if game in session_temp['GameID'].unique():
            temp3 = session_temp[session_temp['GameID']==game]
            temp3['TimeStampMS_diff'] = temp3[['TimeStampMS']].diff()

            # should not include last index already removed
            idx = temp3[temp3['TimeStampMS_diff']<0]['index'].values

            if len(idx) >= 1:
                first_index=temp3['index'].iloc[0]
                # new last_index iloc[-2]
                last_index=temp3['index'].iloc[-1]

                if len(idx)==1:
                    # check first index
                    if idx[0] == first_index:
                        pass
                    # double check last index
                    # nothing should happen here
                    elif idx[-1] == last_index:
                        # drop last value of sessionid
                        df1.drop(df1[(df1['index'] == last_index)].index,axis=0,inplace=True)
        #                 idx = idx[:-1]
                    # index is middle
                    else: #(idx[0]!=first_index) or (idx[0]!=last_index):
                        df1.loc[(df1['index'] >= idx[0]) & (df1['index'] <= last_index), 'SessionID'] = new_session_name[new]
                        print(1,session,game,new_session_name[new])
                        new += 1

                else:                
                    for nr in range(len(idx)-1):
                        df1.loc[(df1['index'] >= idx[nr]) & (df1['index'] <= idx[nr+1]), 'SessionID'] = new_session_name[new]
                        print(2,session,game,new_session_name[new])
                        new += 1

1 TTSH-CHISELnakxyOdKt0evGYsc/lsoKA== 0 h

In [35]:
# updated list_sessions
list_sessions = df1[df1['SessionID'].notna()]['SessionID'].unique()

In [36]:
# check for large time gaps between sessions
# use 'new' from previous run of splitting sessionID
for session in list_sessions:
    session_temp = df1[df1['SessionID']==session].reset_index().drop(columns=['level_0'])
    for game in range(0,3):
        if game in session_temp['GameID'].unique():
            temp3 = session_temp[session_temp['GameID']==game]
            temp3['TimeStampMS_diff'] = temp3[['TimeStampMS']].diff()
            
            idx2 = temp3[temp3['TimeStampMS_diff']>=100000]['index'].values
            
            if len(idx2) >= 1:
                first_index=temp3['index'].iloc[0]
                last_index=temp3['index'].iloc[-1]

                if len(idx2)==1:
                    # check first index
                    if idx2[0] == first_index:
                        pass          
                    # check last index
                    elif (idx2[-1] == last_index):
                        # drop last value of idx 
                        df1.drop(df1[(df1['index'] == last_index)].index,axis=0,inplace=True)
                    # index is middle
                    else: #(idx2[0]!=first_index) or (idx2[0]!=last_index):
                        df1.loc[(df1['index'] >= idx2[0]) & (df1['index'] <= last_index), 'SessionID'] = new_session_name[new]
#                         print(1,session,game,new_session_name[new])
                        new += 1

                else:                   
                    for nr in range(len(idx2)-1):
                        df1.loc[(df1['index'] >= idx2[nr]) & (df1['index'] <= idx2[nr+1]), 'SessionID'] = new_session_name[new]
#                         print(2,session,game,new_session_name[new])
                        new += 1

In [37]:
# updated list_sessions
list_sessions = df1[df1['SessionID'].notna()]['SessionID'].unique()

In [38]:
# quad run
# double check for large time gaps between sessions
for session in list_sessions:
    session_temp = df1[df1['SessionID']==session].reset_index().drop(columns=['level_0'])
    for game in range(0,3):
        if game in session_temp['GameID'].unique():
            temp3 = session_temp[session_temp['GameID']==game]
            temp3['TimeStampMS_diff'] = temp3[['TimeStampMS']].diff()
            
            idx2 = temp3[temp3['TimeStampMS_diff']>=100000]['index'].values
            
            if len(idx2) >= 1:
                first_index=temp3['index'].iloc[0]
                last_index=temp3['index'].iloc[-1]

                if len(idx2)==1:
                    # check first index
                    if idx2[0] == first_index:
                        pass          
                    # check last index
                    elif (idx2[-1] == last_index):
                        # drop last value of idx 
                        df1.drop(df1[(df1['index'] == last_index)].index,axis=0,inplace=True)
                    # index is middle
                    else: #(idx2[0]!=first_index) or (idx2[0]!=last_index):
                        df1.loc[(df1['index'] >= idx2[0]) & (df1['index'] <= last_index), 'SessionID'] = new_session_name[new]
#                         print(1,session,game,new_session_name[new])
                        new += 1

                else:                   
                    for nr in range(len(idx2)-1):
                        df1.loc[(df1['index'] >= idx2[nr]) & (df1['index'] <= idx2[nr+1]), 'SessionID'] = new_session_name[new]
#                         print(2,session,game,new_session_name[new])
                        new += 1

In [39]:
# updated list_sessions
list_sessions = df1[df1['SessionID'].notna()]['SessionID'].unique()

#### remove invalid gameplays

In [40]:
# time duration
for session in list_sessions:
    session_temp = df1[df1['SessionID']==session].reset_index().drop(columns=['level_0'])
    for game in range(0,3):
        if game in session_temp['GameID'].unique():
            temp3 = session_temp[session_temp['GameID']==game]
            temp3['tsec'] = temp3[['TimeStampMS']].diff().cumsum(axis=0)/1000
            
            first_index=temp3['index'].iloc[0]
            last_index=temp3['index'].iloc[-1]
            
            # drop if session < 120s or smaller than size 5000 (should have at least 10000 rows for 120s worth of data)
            if len(temp3['tsec'])>=2500:
#             print(session, game, temp3['tsec'].iloc[-2])
                if temp3['tsec'].iloc[-2] <= 120:
                    df1.drop(df1[(df1['index'] >= first_index) & (df1['index'] <= last_index)].index,axis=0,inplace=True)
            else:
                df1.drop(df1[(df1['index'] >= first_index) & (df1['index'] <= last_index)].index,axis=0,inplace=True)

#### check timestampms duplicates

In [41]:
# for session in list_sessions:
#     session_temp = df1[df1['SessionID']==session].reset_index().drop(columns=['level_0'])
#     for game in range(0,session_temp['GameID'].nunique()):
#         if game in session_temp['GameID'].unique():
#             temp4 = session_temp[session_temp['GameID']==game]
#             temp4['TimeStampMS_diff'] = temp4[['TimeStampMS']].diff()
#             temp4['tsec'] = temp4[['TimeStampMS']].diff().cumsum(axis=0)/1000

#### keep final sessions in df within a list

In [ ]:
# # updated list_sessions
list_sessions = df1[df1['SessionID'].notna()]['SessionID'].unique()

df_session = []
for session in list_sessions:
    temp = df1[df1['SessionID']==session]  
    df_session.append(temp)

### Export time_session to csv

**declare path for saving fig**
<br> path/folder will change later, and declared again later

In [ ]:
# export df_session to csv
patientid = df['PatientID'].unique()[0]
pd.concat(df_session).to_csv('./data/P' + patientid + '_df_session.csv')

# export df_session to h5
pd.concat(df_session).to_hdf('./data/P' + patientid + '_df_session.h5', key='df', mode='w')

*create dataframe*

In [ ]:
# sessions have increased, since new session are created when new starts to gameplay were detected
len(df_session)

In [ ]:
# number of games played
df1['GameID'].unique()

In [ ]:
session_nr = []
game_nr = []
start = []
end = []
diff = []
for session, df_list in enumerate(df_session):
    for game in range(0,3):
        if game in df_list['GameID'].unique():
            session_nr.append(session)
            game_nr.append(game)
            temp = df_list[df_list['GameID']==game]
            
            start.append(temp[['date_time']].iloc[0][0])
            end.append(temp[['date_time']].iloc[-1][0])
            time_diff = (temp[['date_time']].iloc[-1][0]) - (temp[['date_time']].iloc[0][0])
            diff.append(time_diff/ np.timedelta64(1,'m'))    # in minutes

In [ ]:
# put in df
time_session = []
for row in range(0,len(session_nr)):
    time_session.append(row)
time_session = pd.DataFrame(time_session,columns=['session_nr'])   
time_session['session_nr'] = session_nr
time_session['game_nr'] = game_nr
time_session['start'] = start
time_session['end'] = end
time_session['diff'] = diff  # in minutes
time_session['just_date'] = time_session['start'].dt.date

In [ ]:
# time_session of which patient
print(patientid)

In [ ]:
time_session

In [ ]:
# dfi.export(time_session,"time_session.png")
# dfi.export(time_session[time_session['game_nr']==0],"time_explore.png")
# dfi.export(time_session[time_session['game_nr']==1],"time_fish.png")
# dfi.export(time_session[time_session['game_nr']==2],"time_drone.png")

In [ ]:
print(f'total run time = {datetime.now()-start_codes}')